body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle at center, #4B79A1, #283E51, #000000);
}

h1 {
    margin: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#message {
    text-align: center;
    font-size: 20px;
}

.scorecard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 40px;
}

.buttons {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button > img {
    max-height: 200px;
}

.card > button {
    width: 200px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: transparent;
}

.card > .label {
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
}

.card > button:hover,
#play-again:hover {
    transform: scale(1.07);
}

#play-again {
    background-color: transparent;
    border: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
